.ant-spin-dot {
  color: var(--color-white);
}

.ant-btn-login {
  color: var(--color-primary);
}

.login-form-container {
  opacity: 0;
  animation: fadeInScale 0.7s linear forwards;
}

@keyframes fadeInScale {
  0% {
    opacity: 0;
    gap: 0;
    transform: scale(0.85);
  }
  30% {
    opacity: 0.5;
    gap: 113.6px;
    transform: scale(0.88);
  }
  60% {
    opacity: 0.8;
    gap: 227.3px;
    transform: scale(0.94);
  }
  100% {
    opacity: 1;
    gap: 341px;
    transform: scale(1);
  }
}