
.ant-drawer-content {
  border-radius: 10px 0;
}

.ant-drawer-close {
  display: none !important;
}

.custom-drawer .ant-drawer-header {
  background-color: var(--color-primary-light);
  color: #FFFF;
  text-align: center;
  border-bottom: unset
}

.ant-drawer-body {
  background-color: var(--color-primary-light);
}