
.swiper {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background: var(--color-white);
  border-radius: 12px;
  padding: 20px 8px !important;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  height: calc((100% - 30px) / 2) !important;


  /* Center slide text vertically */
  display: flex !important;
  flex-direction: column;
  justify-content: center ;
  align-items: center;
}
.swiper-wrapper {
  max-height: 150px;
}

.swiper-button-prev {
  left: -1px !important;
}
.swiper-button-next {
  right: -1px !important;
}
